[Unit]
Description=ifmedia-simulation-server
PartOf=if-services.target
Before=if-services.target

[Service]
User=root
ExecStart=/usr/bin/ifmedia-simulation-server
Restart=on-failure
Environment=SERVER_CONF_PATH=/etc/simulation-server.conf

[Install]
WantedBy=if-services.target
